* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FA9D5A;
    font-family: sans-serif;
}

#container {
    background-color: #FFFFFF80;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 500px;
    text-align: center;
}

img{
    height: 200px;
    width: 200px;
}

h1{
    font-size: 25px;
}

.org{
    font-size: 20px;
    padding: 10px;
    height: 40px;
    width: auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
}

input[type="submit"] {
    background-color: #FCF7F7;
    width: 300px;
    border-radius: 2%;
    border: none;
    border-radius: 20px;
    background-repeat: no-repeat;  
    background-image: url(pata.png);
    padding-left: 30px; 
    cursor: pointer;
}

input[type="submit"]:hover{
    color: #FA9D5A
}